@using gzsw.util
@using gzsw.web
@using NPOI.SS.Formula.Functions
@{
    ViewBag.Title = "查看考勤参数";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model gzsw.controller.CHK.TimeScoreCreateModel


<table class="formTable" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width:100px;" class="tdLeft">组织：</td>
        <td colspan="3">
            @Model.ORG_NAM
        </td>
    </tr>
    <tr>
        <td class="tdLeft">上午上班时间：</td>
        <td>
            @OutputHelper.GetTimeChinaString(Model.A_BEGIN_TIME)
        </td>
        <td class="tdLeft">上午下班时间：</td>
        <td>
            @OutputHelper.GetTimeChinaString(Model.A_END_TIME)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">下午上班时间：</td>
        <td>
            @OutputHelper.GetTimeChinaString(Model.P_BEGIN_TIME)
        </td>
        <td class="tdLeft">下午下班时间：</td>
        <td>
            @OutputHelper.GetTimeChinaString(Model.P_END_TIME)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">迟到后置分钟：</td>
        <td>
            @Model.LAT_LAST_MIN
        </td>
        <td class="tdLeft">早退前置分钟：</td>
        <td>
            @Model.EAR_LAST_MIN
        </td>
    </tr>
</table>
