@{
    ViewBag.Title = "添加考核体系";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using gzsw.web
@model gzsw.controller.CHK.Models.StaffSystemConModel


    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdLeft">组织结构：</td>
            <td>
                @Html.HiddenFor(m => m.ORG_ID)
                @Html.DisplayFor(m => m.ORG_NAM)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">综合考核标准设置类型：</td>
            <td >
                @(Model.COMPRE_SAN_TYP == 1 ? "综合评议额外奖罚与投诉分在１００分之外计入总分" : "综合评议额外奖罚与投诉分在１００分之内计入总分，并设置额外分上限")

            </td>
        </tr>
        <tr id="trCOMPRETYPE" style="@(Model.COMPRE_SAN_TYP == 2 ? "" : "display: none;")">
            <td class="tdLeft">当综合考核设置为100分之内加的上限分数：</td>
            <td>
                @Html.DisplayFor(m => m.COMPRE_SAN_100_MAX_SCORE)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">评价所占考核比：</td>
            <td>
                @Model.EVAL_CHK_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">业务表现占考核比：</td>
            <td>
                @Model.SVR_CHK_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">质量表现占考核比：</td>
            <td>
                @Model.QUALITY_CHK_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">效率表现占考核比：</td>
            <td>
                @Model.EFFIC_CHK_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">效率计算100分免计算比率：</td>
            <td>
                @Model.EFFIC_AVOID_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">效率免计算比率外每超过1%的扣分：</td>
            <td>
                @Html.DisplayFor(m => m.EFFIC_AVOID_EXC_DEDUCT)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">考勤占考核比：</td>
            <td>
                @Model.ATTEND_CHK_RT
            </td>
        </tr>
        <tr>
            <td class="tdLeft">日常行为表现占考核比：</td>
            <td>
                @Model.USU_ACT_CHK_RT
            </td>
        </tr>
    </table>

