@model gzsw.model.SYS_DETAILSERIAL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:110px;" class="tdLeft">
                事项编码：
            </td>
            <td>@Html.DisplayFor(model => model.SERIALID)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                业务名称：
            </td>
            <td>@Html.DisplayFor(model => model.SERIALNAME)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                所属排队队列：
            </td>
            <td>@Html.DisplayFor(model => model.SYS_QUEUESERIAL.Q_SERIALNAME)</td>
        </li>

        <tr>
            <td class="tdLeft">
                所属大类业务：
            </td>
            <td>@Html.DisplayFor(model => model.SYS_DLSERIAL.DLS_SERIALNAME)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                办理超时时间：
            </td>
            <td>@Html.DisplayFor(model => model.BLCSTIME)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                业务至少办理时间：
            </td>
            <td>@Html.DisplayFor(model => model.MINBLTIME)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                提醒倒计时时间点：
            </td>
            <td>@Html.DisplayFor(model => model.DJSTIME)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                默认折合系数：
            </td>
            <td>@Html.DisplayFor(model => model.DEFAULTYWLXS)</td>
        </tr>

        <tr>
            <td class="tdLeft">
                备注：
            </td>
            <td>@Html.DisplayFor(model => model.SYS_BZ)</td>
        </tr>
    </ul>
</div>
