@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using gzsw.web
@model gzsw.model.dto.CHK_STAFF_QUALITY_MARKDto

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="formTable" cellpadding="0" cellspacing="0">
       
        <tr>
            <td style="width:100px;" class="tdLeft">员工名称：</td>
            <td style="width:150px;">
                @Html.HiddenFor(x=>x.SEQ)
                @Model.PersonName
            </td>
            <td> </td>
        </tr>
        <tr>
            <td  class="tdLeft">服务厅：</td>
            <td >
                @Html.DropDownList("Hall", ViewBag.Hall as SelectList, "--请选择--", new
                {
                    @style = "width:130px"
                })
            </td>
            <td> </td>
        </tr>
        <tr>
            <td class="tdLeft">员工编号：</td>
            <td>
                @Html.DropDownListFor(x => x.STAFF_ID, new List<SelectListItem>()
                {
                    new SelectListItem{
                        Selected =true,
                        Text ="--请选择--",
                        Value = ""
                    }
                })
            </td>
            <td>@Html.ValidationMessageFor(model => model.STAFF_ID) </td>
        </tr>
        <tr>
            <td  class="tdLeft"> </td>
            <td style="width:150px;">  
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tdLeft">事项大类：</td>
            <td>
                @Html.DropDownList("Dlserial", ViewBag.Dlserial as SelectList, "--请选择--", new
                {
                    @style = "width:130px"
                })
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tdLeft"> 事项子类编码：</td>
            <td>
                @Html.DropDownListFor(x => x.SERIALID, new List<SelectListItem>()
                {
                    new SelectListItem{
                        Selected =true,
                        Text ="--请选择--",
                        Value = ""
                    }
                })
            </td>
            <td>@Html.ValidationMessageFor(model => model.SERIALID)</td>
        </tr>



        <tr>
            <td class="tdLeft">质量类型编码：</td>
            <td>
                @Html.DropDownListFor(m => m.QUALITY_CD, ViewBag.QUALITY_CD as SelectList, "--请选择--")
            </td>
            <td>@Html.ValidationMessageFor(model => model.QUALITY_CD)</td>
        </tr>
        <tr>
            <td class="tdLeft">数量：</td>
            <td>@Html.EditorFor(model => model.AMOUNT)</td>
            <td>@Html.ValidationMessageFor(model => model.AMOUNT)</td>
        </tr>
        <tr>
            <td class="tdLeft">差错发生日期：</td>
            <td>@Html.TextBoxFor(model => model.OCCUR_DT, new { @onClick = "WdatePicker()" })</td>
            <td>@Html.ValidationMessageFor(model => model.OCCUR_DT)</td>
        </tr>
        <tr>
            <td class="tdLeft"> &nbsp;  </td>
            <td>
                <input type="submit" class="l-button" value="提交" />
            </td>
            <td> </td>
        </tr>
    </table>
}
@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript">
        $(function() {

             // 加载营业厅 -> 员工
            function loadPerson(fun) {
                var value = $("#Hall").val();
                if (value == undefined || value == "") {
                    $("#STAFF_ID").html("<option selected=\"selected\" value=\"\">--请选择--</option>");
                } else {
                    var url = "@Url.Action("GetDropDownListForStaff", "PerformanceEval")?hallId=" + value;
                    $.ajax({
                        url: url.urlstamp(),
                        success: function(result) {
                            $("#STAFF_ID").html(result);
                            if ($.isFunction(fun)) {
                                fun();
                            }
                        }
                    });
                }
            }
            // 加载大类项下子项
            function loadDlserial(fun) {
                var value = $("#Dlserial").val();
                if (value == undefined || value == "") {
                    $("#SERIALID").html("<option selected=\"selected\" value=\"\">--请选择--</option>");
                } else {
                    var url = "@Url.Action("GetDropDownListForSerialid", "PerformanceEval")?ssdlserialidId=" + value;
                    $.ajax({
                        url: url.urlstamp(),
                        success: function(result) {
                            $("#SERIALID").html(result);
                            if ($.isFunction(fun)) {
                                fun();
                            }
                        }
                    });
                }
            }

            // 数据绑定
            $("#Hall").val('@Model.ORG_ID');
            loadPerson(function() {
                $("#STAFF_ID").val('@Model.STAFF_ID');
            });
            // 加载营业厅->员工
            $("#Hall").change(function() {
                loadPerson();
            });
            // 加载事项大类
            $("#Dlserial").val('@Model.SSDLSERIALID');
            
            // 加载子项
            loadDlserial(function() {
                $("#SERIALID").val('@Model.SERIALID');
            });
            // 加载事项
            $("#Dlserial").change(function() {
                loadDlserial();
            });
            // 绑定质量类型
            $("#QUALITY_CD").val('@Model.QUALITY_CD');

        });
    </script> 
}