@{
    ViewBag.Title = "查看满意度";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using gzsw.web
@model gzsw.controller.CHK.Models.SatisRtConModel


<table class="formTable" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width: 160px;" class="tdLeft">组织结构：</td>
        <td>
            @Html.DisplayFor(m => m.ORG_NAM)
            @Html.HiddenFor(m => m.ORG_ID)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">评价很满意得分：</td>
        <td>
            @Html.DisplayFor(m => m.VERY_SATISFY_SCORE)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">评价满意得分：</td>
        <td>
            @Html.DisplayFor(m => m.SATISFY_SCORE)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">评价基本满意得分：</td>
        <td>
            @Html.DisplayFor(m => m.COMMON_SCORE)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">评价不满意得分：</td>
        <td>
            @Html.DisplayFor(m => m.UNSATISFY_SCORE)
        </td>
    </tr>
    <tr>
        <td class="tdLeft">未评价得分：</td>
        <td>
            @Html.DisplayFor(m => m.NON_EVAL_SCORE)
        </td>
    </tr>
</table>
