@using gzsw.web
@model gzsw.controller.CHK.CunterEditModel
@{
    ViewBag.Title = "修改窗口值班";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdLeft">服务厅：</td>
            <td>
                @Html.HiddenFor(m => m.HallNo)
                @Html.DisplayFor(m => m.HallName, new { @style = "width:250px;", @readonly = "readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.HallNo)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">窗口：</td>
            <td>
                @Html.HiddenFor(m=>m.CounterId)
                @Html.DisplayFor(m => m.CounterId, new { @style = "width:250px;", @readonly = "readonly" })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.CounterId)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">备注：</td>
            <td>
                @Html.TextAreaFor(m => m.Note, new { @style = "width:250px;" })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Note)
            </td>
        </tr>

    </table>
    <div class="tablePanel" style="margin:10px 20px 10px 20px;">
        <table class="tableform">
            <thead>
                <tr>
                    <th colspan="5">
                        员工排班
                    </th>
                </tr>
            </thead>
            <tr>
                <td>周一 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W1A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                   @Html.DropDownListFor(m => m.W1P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周二 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W2A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W2P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周三 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W3A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W3P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周四 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W4A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W4P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周五 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W5A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W5P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周六 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W6A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new {  @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W6P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
            </tr>
            <tr>
                <td>周日 </td>
                <td class="tdLeft pdRight">上午:</td>
                <td>
                    @Html.DropDownListFor(m => m.W7A_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
                <td class="tdLeft pdRight">
                    下午:
                </td>
                <td>
                    @Html.DropDownListFor(m => m.W7P_STAFF_ID, (List<SelectListItem>)ViewBag.StaffSelectList, new { @style = "width:100px;" })
                </td>
            </tr>
        </table>
        <div style="text-align: center;margin-top: 20px;">
            <input type="submit" class="l-button" value="提交" />
        </div>
    </div>
    
    
}


@section Head{
    @Html.JavaScript("lib/jqueryform/jquery.form.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    <style type="text/css">
        table tbody tr { height: 30px; }
    </style>
}