@using System.Web.UI.WebControls
@using gzsw.model
@using gzsw.util
@using gzsw.util.Extensions
@using gzsw.web;
@using gzsw.controller.CHK.Models
@using gzsw.model
@using gzsw.model.Enums
@using gzsw.model.Subclasses
@using gzsw.util
@using gzsw.util.Extensions
@using gzsw.web
@model PetaPoco.Page<SYS_CURRQUEUEHIST_SUB>

@{
    ViewBag.Title = "一票多业务号数";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td>窗口编号:</td>
            <td>
                <input type="text" id="txtCounter" value="@ViewBag.Counter" />
            </td>
            <td>交易业务流水号:</td>
            <td>
                <input type="text" id="txtTRANSCODEID" value="@ViewBag.TRANSCODEID" />
            </td>

            <td>
                <div id="btnSearch"></div>
            </td>
            <td>
                <span style="float: right;margin-right: 10px;"><a id="seniorSelect" href="javascript:void(0);">高级查询</a></span>
            </td>
        </tr>
        <tr style="@(ViewBag.IsSenior != 0 ? "" : "display: none;") " d-tyle='senior'>
            <td>纳税人识别码:</td>
            <td>
                <input type="text" id="txtNsrsbm" value="@ViewBag.Nsrsbm" />
            </td>
            <td>员工编号:</td>
            <td colspan="2">
                <input type="text" id="txtStaffId" value="@ViewBag.StaffId" />
                <input type="hidden" id="hidIsSenior" value="@ViewBag.IsSenior" />
            </td>
        </tr>
        <tr style="@(ViewBag.IsSenior != 0 ? "" : "display: none;") " d-tyle='senior'>
            <td>排队号码:</td>
            <td colspan="4">
                <input type="text" id="txtNumber" value="@ViewBag.Number" />
            </td>
        </tr>
    </table>

</div>
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                <th>序号</th>
                <th>窗口号</th>
                <th>排队号</th>
                <th>排队业务</th>
                <th>纳税人名称</th>
                <th>业务笔数</th>
                <th>受理员工名</th>
                <th>受理时长</th>
                <th>评价</th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="cbId" value="@item.CHQUEUE_TRANSCODEID" type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>@item.CHQUEUE_COUNTER</td>
                <td>@item.CHQUEUE_NUMBER</td>
                <td>@item.Q_SERIALNAME</td>
                <td>@item.CHQUEUE_NSRMC</td>
                <td>@item.CHQUEUE_YWBS</td>
                <td>@item.STAFF_NAM</td>
                <td>@(item.CHQUEUE_BLTIME.ToTimeString())</td>
                <td>@(((SYS_CURRQUEUEHIST_SUB.PJRESULTENUM)item.CHQUEUE_PJRESULT).GetDescription())</td>
            </tr>
        }

    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)

    <input type="hidden" id="hidORGID" value="@ViewBag.HallNo" />
</div>

@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    <script type="text/javascript">
    $(function () {
        // 查询
        $("#btnSearch").ligerButton(
                {
                    text: " 查 询 ",
                    click: function () {
                        var url = "?hallNo=" + encodeURI($("#hidORGID").val())
                            + "&staffId=" + encodeURI($("#txtStaffId").val())
                            + "&transcodeId=" + encodeURI($("#txtTRANSCODEID").val())
                            + "&nsrsbm=" + encodeURI($("#txtNsrsbm").val())
                            + "&counter=" + encodeURI($("#txtCounter").val())
                            + "&isSenior=" + encodeURI(($("#hidIsSenior").val()))
                            + "&number" + encodeURI($("#txtNumber").val());
                        location.href = url.urlstamp();
                    },
                    icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
                });
        $("#seniorSelect").click(function () {
            var isSenior = $("#hidIsSenior").val();
            if (isSenior == 1) {
                $("#hidIsSenior").val(0);
                $("tr[d-tyle='senior']").hide();
            } else {
                $("#hidIsSenior").val(1);
                $("tr[d-tyle='senior']").show();
            }
        });
        // 顶部导航
        var ligerToolBar = $("#toptoolbar").ligerToolBar();
        @if (Html.ChkAuth("Detail_SYS_CURRQUEUEHIST_VIW"))
            {
                @:ligerToolBar.addItem({
                @:        text: '查看',
                @:        click: function () {
                @:            if ($(".tablelist").getSelCount() != 1) {
                @:                gzsw.dialog.alert("请选择需要操作的单个选项!");return false;
                @:            }
                @:            var url = '@Url.Action("Details", "Currqueuehist", new { area = "Detail" })?id=' + $(".tablelist").getSelValue();
                @:            parent.gzsw.dialog.open({
                @:                    url: url.urlstamp(),
                @:                    width: 800,
                @:                    height: 450,
                @:                    isReload: false
                @:             });
                @:        },
                @:        icon: 'archives'
                    @:});

                @:ligerToolBar.addItem({ line: true });
                    }


    });
    </script>
}
