@using gzsw.web;
@model gzsw.model.SYS_USER

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "增加用户";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:100px;" class="tdLeft">用户账号：</td>
            <td>@Html.EditorFor(model => model.USER_ID)</td>
            <td>@Html.ValidationMessageFor(model => model.USER_ID)</td>
        </tr>
        <tr>
            <td class="tdLeft">用户名：</td>
            <td>@Html.EditorFor(model => model.USER_NAM)</td>
            <td>@Html.ValidationMessageFor(model => model.USER_NAM)</td>
        </tr>
        <tr>
            <td class="tdLeft">用户密码：</td>
            <td>@Html.PasswordFor(model => model.USER_PASSWORD, new { @class = "text-box single-line" })</td>
            <td>@Html.ValidationMessageFor(model => model.USER_PASSWORD)</td>
        </tr>
        <tr>
            <td class="tdLeft">电话号码：</td>
            <td>@Html.EditorFor(model => model.TEL)</td>
            <td>@Html.ValidationMessageFor(model => model.TEL)</td>
        </tr>
        <tr>
            <td class="tdLeft">电子邮箱：</td>
            <td>@Html.EditorFor(model => model.EMAIL)</td>
            <td>@Html.ValidationMessageFor(model => model.EMAIL)</td>
        </tr>
        <tr>
            <td class="tdLeft">备注：</td>
            <td>@Html.EditorFor(model => model.NOTE)</td>
            <td>@Html.ValidationMessageFor(model => model.NOTE)</td>
        </tr>
        <tr>
            <td class="tdLeft"> &nbsp;  </td>
            <td>
                <input type="submit" class="l-button" value="提交" />
            </td>
            <td> </td>
        </tr>
    </table>
}

@section Head{
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
}