@using gzsw.web;
@model PetaPoco.Page<gzsw.model.SYS_USER>
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Head{
   
    <script lang="javascript">
        $(function () {
            // 注册事件
            // 查询
            $("#btnSearch").ligerButton(
            {
                text: " 查 询 ",
                click: function () {
                    var url = "?USERID=" + $("#txtUSERID").val() + "&USERNAM=" + $("#txtUSERNAM").val();
                    location.href = url.urlstamp();
                },
                icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
            });
            // 顶部导航
            var bar = $("#toptoolbar").ligerToolBar();

            bar.addItem(@Html.AuthViewButton("AUTH_USER_VIW", Url.Action("Details", "User")));
            bar.addItem({ line: true });
            bar.addItem(@Html.AuthAddButton("AUTH_USER_ADD", Url.Action("Create", "User"))); 
            bar.addItem({ line: true });
            bar.addItem(@Html.AuthEditButton("AUTH_USER_EDT", Url.Action("Edit", "User"))); 
            bar.addItem({ line: true });
            bar.addItem(@Html.AuthViewButton("AUTH_ROLE_VIW", Url.Action("UserRole", "User"), "角色")); 
            bar.addItem({ line: true });
            bar.addItem(@Html.AuthViewButton("SYS_ORG_VIW", Url.Action("UserOrg", "User"), "组织机构")); 
            bar.addItem({ line: true });
            bar.addItem(@Html.AuthDelButton("AUTH_USER_DEL", Url.Action("Delete", "User"))); 

           
        });
    </script>

}
<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:80px;">用户账号：</td>
            <td style="width:170px;"><input type="text" name="txtUSERID" id="txtUSERID" value="@ViewBag.USERID" /></td>
            <td style="width:80px;"> 用户名称：</td>
            <td style="width:170px;"><input type="text" name="txtUSERNAM" id="txtUSERNAM" value="@ViewBag.USERNAM" /></td>
            <td>
                <div id="btnSearch"></div>
            </td>
        </tr>
    </table>
</div>
<div id="toptoolbar"></div>
<!-- 内容 -->
<div class="tablePanel">
    <table  class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                <th style="width:40px;">序号</th>
                <th>用户账号</th>
                <th>用户名称</th>
                <th>电话号码</th>
                <th>电子邮箱</th>
                <th>备注</th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {

            <tr>
                <td>
                    <input name="cbId" value="@item.USER_ID" type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER_NAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOTE)
                </td>
            </tr>
        }
    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    <!--  分页 --> 
     @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)  
</div>