@using gzsw.model
@using gzsw.util
@using gzsw.web;
@model PetaPoco.Page<dynamic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:100px;text-align: right">投诉状态：</td>
            <td  style="width:50px;text-align:left">
                <select id="dl_status_bywarndetail">
                    <option value="0">全部</option>
                    <option value="1">未处理</option>
                    <option value="2">已处理</option>
                    <option value="3">撤销投诉</option>
                </select>

            </td> 
            <td style="width:170px;text-align: right">投诉时间：</td>
            <td style="width:300px;"><input type="text" readonly="readonly"  onclick="WdatePicker()" value="" style="width:100px;" name="txtBeginTime" id="txtBeginTime">-<input type="text" readonly="readonly" onclick="    WdatePicker()" value="" style="width: 100px;" name="txtEndTime" id="txtEndTime"> </td> 

            <td style="text-align: left">
                <div id="btnSearch"></div>
            </td>
        </tr>
    </table>
</div>
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                <th>序号</th>
                <th>
                    纳税人/企业编码
                </th>
                <th>
                    纳税人/企业名称
                </th>
                <th>
                    服务厅名称
                </th>
                <th>
                    投诉问题描述
                </th>
                <th>
                    投诉类型名
                </th>
                <th>
                    投诉时间
                </th>
                <th>
                    投诉状态
                </th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="cbId" value="@(item.SEQ)" type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>
                    @item.NSR_SBM
                </td>
                  <td>
                    @item.NSR_NAME
                </td>
                <td>
                    @item.HALL_NAM 
                </td>
                <td>
                    @item.COMPLAIN_PRO
                </td>
                <td>
                    @item.COMPLAIN_NAM
                </td>
                <td>
                    @item.COMPLAIN_TIME.ToString("yyyy-MM-dd")
                </td>
                <td> 
                    
                    @(EnumHelper.ConvertToE<gzsw.model.ext.WARN_COMPLAIN_DETAIL.DETAIL_STATUS_ENUM>(item.STATE.ToString()))
                </td>
            </tr>
        }

    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
</div>

@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    <script type="text/javascript">
        $(function () {
            // 注册事件
            var status = '@ViewBag.status';
            $("#dl_status_bywarndetail").val(status);
            var start = '@ViewBag.start';
            var end = '@ViewBag.end';
            $("#txtBeginTime").val(start);
            $("#txtEndTime").val(end);

            // 查询
            $("#btnSearch").ligerButton(
            {
                text: " 查 询 ",
                click: function () {
                    var url = "?status=" + $("#dl_status_bywarndetail").val() + "&start=" + $("#txtBeginTime").val() + "&end=" + $("#txtEndTime").val() + "&nameorcode=";
                    location.href = url.urlstamp();
                },
                icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
            });
            // 顶部导航
            // 顶部导航
            var ligerToolBar = $("#toptoolbar").ligerToolBar();

            @if (Html.ChkAuth("WARN_COMPLAIN_DETAIL_VIW"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIViewButton(Url.Action("Detail"), "查看", "WARN_COMPLAIN_DETAIL_VIW", 600, 400));
                            @:ligerToolBar.addItem({ line: true });
                        }
            
            @if (Html.ChkAuth("WARN_COMPLAIN_DETAIL_ADD"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIAddButton(Url.Action("Create"), "增加", "WARN_COMPLAIN_DETAIL_ADD", 600, 500));
                            @:ligerToolBar.addItem({ line: true });
                        }

            @if (Html.ChkAuth("WARN_COMPLAIN_DETAIL_EDT"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIEditButton(Url.Action("Edit"), "处理", "WARN_COMPLAIN_DETAIL_EDT", 600, 500));
                            @:ligerToolBar.addItem({ line: true });
                        }
            
            
            @if (Html.ChkAuth("WARN_COMPLAIN_DETAIL_DEL"))
            { 

                @:ligerToolBar.addItem(@Html.LigerUIcancelButton(Url.Action("Delete"), "撤销", "WARN_COMPLAIN_DETAIL_DEL"));
                   @:ligerToolBar.addItem({ line: true });
                        }
 
        });
    </script>
}
