@using gzsw.web
@model gzsw.model.WARN_COMPLAIN_TYP_CON

@{
    ViewBag.Title = "修改窗口值班";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
       @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:100px;" class="tdLeft">
                投诉类型名称：
            </td>
            <td>
                @Html.EditorFor(model => model.COMPLAIN_NAM)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.COMPLAIN_NAM)
            </td>
            @Html.Hidden("CREATE_ID",Model.CREATE_ID)
            @Html.Hidden("CREATE_DTIME",Model.CREATE_DTIME)
            @Html.Hidden("MODIFY_DTIME",Model.MODIFY_DTIME)
            @Html.Hidden("MODIFY_ID",Model.MODIFY_ID)
            @Html.Hidden("COMPLAIN_TYP_ID",Model.COMPLAIN_TYP_ID)
        </tr>   
        <tr>
            <td class="tdLeft"> &nbsp;  </td>
            <td>
                <input type="submit" class="l-button" value="提交" />
            </td>
            <td> </td>
        </tr>
    </table>
    
    
}


@section Head{
    @Html.JavaScript("lib/jqueryform/jquery.form.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")

}