@using gzsw.web;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:100px;">服务厅名称：</td>
            <td style="width:170px;"><input type="text" name="txtHALLNAM" id="txtHALLNAM" value="@Request.QueryString["HALLNAM"]" /></td>
            <td>
                <div id="btnSearch"></div>
            </td>
        </tr>
    </table>
</div>
<div class="tablepanel">
    <div class="cleft"><ul id="treeORG" class="ztree"></ul></div>
    <div class="ccontent">
        <iframe id="hallFrame" style="width:100%;height:99%;" frameborder="0" scrolling="auto" src=""></iframe>
    </div>
</div>
@section Head{
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    @Html.JavaScript("lib/ztree/jquery.ztree.core-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.excheck-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.exedit-3.5.min.js")
    @Html.JavaScript("lib/utility/ext.js")
    <style type="text/css">
        .ztree li span.button.add {
            margin-left: 2px;
            margin-right: -1px;
            background-position: -144px 0;
            vertical-align: top;
            *vertical-align: middle;
        }
        .cleft {
            position: absolute;
            left: 0;
            top: 33px;
            padding: 0;
            width: 250px;
            height: 80%; /* works only if parent container is assigned a height value */
            color: #333;
        }
        .ccontent {
            position: absolute;
            margin-left: 250px;
            width: 75%;
            height: 92%;
            overflow: hidden;
        } 
    </style>
    <script lang="javascript">
        $(function () {
            // 注册事件
            // 查询
            $("#btnSearch").ligerButton(
            {
                text: " 查 询 ",
                click: function () {
                    var url = "?HALLNAM=" + $("#txtHALLNAM").val();
                    location.href = url.urlstamp();
                },
                icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
            });
        });
    </script>
    <script type="text/javascript">
		<!--
        var ztree_setting_menus = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: ""
                }
            },
            view: {
                fontCss: getFontCss,
                showIcon: showIconForTree
            },
            callback: {
                onClick: zTreeOnClick
            }
        };

		var zNodes;
		$(function () {
		    $.ajax({
		        async: false,
		        cache: false,
		        type: 'POST',
		        dataType: 'json',
		        url: "/SYS/Org/GetOrgs2Tree?searchNam=@Request.QueryString["HALLNAM"]",
		        success: function (data) {
		            zNodes = data;
		        }
		    });
		});
        function getFontCss(treeId, treeNode) {
            if (!!treeNode.highlight)
                return { color: "red", "font-weight": "bold" }
        }
        function zTreeOnClick(event, treeId, treeNode) {
            if (treeNode.Org_LV == 5)
            {
                $("#hallFrame").attr("src", "/WARN/WarnParam/Details?hallno=" + treeNode.id);
                $("#toptoolbar").show();
            }
            else
            {
                $("#hallFrame").attr("src", "");
                $("#toptoolbar").hide();
            }
                
        };
		$(document).ready(function(){
		    $.fn.zTree.init($("#treeORG"), ztree_setting_menus, zNodes);
		});
		//-->
    </script>
}