@using gzsw.model
@using gzsw.util
@using gzsw.web;
@model PetaPoco.Page<gzsw.model.SYS_COUNTER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:80px;"> 组织机构：</td>
            <td style="width:170px;">@Html.DropDownList("ddlORGID", ViewBag.UserORG as SelectList, "--请选择--")</td>
            <td>
                <div id="btnSearch"></div>
            </td>

        </tr>
    </table>
</div>

<div id="toptoolbar"></div>

<div class="rightinfo">
    <div class="tablePanel">
        <table class="tablelist">
            <thead>
                <tr>
                    <th style="width:15px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                    <th style="width:30px;">序号 </th>
                    <th style="width:30px;">
                        窗口
                    </th>
                    <th style="width: 11%;">
                        组织机构
                    </th>
                    <th style="width: 12%;">
                        服务厅
                    </th>
                    <th style="width:20px;" title="特呼功能">
                        特呼
                    </th>
                    <th style="width:50px;">
                        状态
                    </th>
                    <th style="width: 30px;" title="最大业务条数">
                        业务数
                    </th>
                    <th style="width: 9%; " title="业务组1排队队列">
                        业务组1
                    </th>
                    <th style="width: 9%; " title="业务组2排队队列">
                        业务组2
                    </th>
                    <th style="width: 9%; " title="业务组3排队队列">
                        业务组3
                    </th>
                    <th style="width: 9%; " title="业务组4排队队列">
                        业务组4
                    </th>
                    <th style="width: 9%;" title="业务组5排队队列">
                        业务组5
                    </th>
                </tr>
            </thead>
            @{
                var i = 1;
            }
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <input name="cbId" value="@item.COUNTER_ID" type='checkbox' />
                    </td>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COUNTER_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Org.ORG_NAM)
                    </td>
                    <td>
                        @(item.Hall != null ? item.Hall.HALL_NAM : "")
                    </td>

                    <td>
                        @(item.SPEC_FUN_IND ? "是" : "否")
                    </td>
                    <td>
                        @(EnumHelper.ConvertToE<SYS_COUNTER.STATE_ENUM>(item.STATE.ToString()))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAX_BUSI_CNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRI1_BUSI_SER_NAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRI2_BUSI_SER_NAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRI3_BUSI_SER_NAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRI4_BUSI_SER_NAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRI5_BUSI_SER_NAM)
                    </td>
                    
                </tr>
            }

        </table>
        @if (Model.Items.Count < 1)
        {
            <div class="l-panel-notDATA">
                暂无数据
            </div>
        }
        @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
    </div>
</div>

@section Head{
    @Html.JavaScript("lib/utility/ext.js")

    <script type="text/javascript" lang="javascript">

        $(function() {
            // 查询
            $("#btnSearch").ligerButton(
                    {
                        text: " 查 询 ",
                        click: function () {
                            var url = "?orgid=" + $("#ddlORGID").val();
                            location.href = url.urlstamp();
                        },
                        icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
                    });

            // 顶部导航
            var ligerToolBar = $("#toptoolbar").ligerToolBar();

            @if (Html.ChkAuth("SYS_COUNTER_VIW"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIViewButton(Url.Action("Details"), "查看", "SYS_COUNTER_VIW", 550, 420));
                @:ligerToolBar.addItem({ line: true });
            }
            
            @if (Html.ChkAuth("SYS_COUNTER_ADD"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIAddButton(Url.Action("Create"), "增加", "SYS_COUNTER_ADD", 600, 500));
                @:ligerToolBar.addItem({ line: true });
            }

            @if (Html.ChkAuth("SYS_COUNTER_EDT"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIEditButton(Url.Action("Edit"), "修改", "SYS_COUNTER_EDT", 600, 500));
                @:ligerToolBar.addItem({ line: true });
            }
            
            
            @if (Html.ChkAuth("SYS_COUNTER_DEL"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIDeleteButton(Url.Action("Delete"), "删除", "SYS_COUNTER_DEL"));
            }
        });

        
    </script>
}
