@{
    ViewBag.Title = "服务厅综合评定";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using gzsw.controller.CHK.Models
@using gzsw.model
@using gzsw.model.Enums
@using gzsw.util
@using gzsw.util.Extensions
@using gzsw.web
@model List<dynamic>


<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:250px;height:30px;" >  
                 
            @Html.Partial("~/Areas/AUTH/Views/Shared/Partial/ORG1.cshtml", new Dictionary<string, string> { { "ORGID", Request["orgid"] }, { "ORGNAM", Request["orgnam"] } })
            </td>
           <td style="width: 60px;"> 年份：</td>
            <td style="width:80px;">
                @Html.DropDownList("ddlYears", ViewBag.Years as List<SelectListItem>)
            </td>
            <td style="width: 50px;"> 月份：</td>
            <td style="width:220px;">
               @Html.DropDownList("ddlMonth", ViewBag.Months as List<SelectListItem>)
            -
            @Html.DropDownList("ddlEndMonth", ViewBag.EndMonths as List<SelectListItem>)
            </td>
            <td>
                <div id="btnSearch"></div>
            </td>

        </tr>
    </table>

</div>

<div class="tablePanel" style="margin-top: 5px;">
    <table class="tablelist">
        <thead>
            <tr>
                 
                <th style="width:38px;">序号 </th>
                <th>服务厅编码</th>
                <th>服务厅名称</th>
                <th>人员出勤率</th>
                <th>排队滞留率</th>
                <th>按时办结率</th>
                <th>办税差错率</th>
                <th>评价满意率</th>
                <th>综合投诉率</th>
                <th>环境建设</th>
                <th>制度建设</th>
                <th>规范建设</th>
                <th>行风建设</th>
                <th>第三方调查</th>
                <th>其他项目</th>
                <th>星级</th>
            </tr>
        </thead>

        @{
            var i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @(i++)
                </td>
                <td>
                    @item.HALL_NO
                </td>
                <td>@item.HALL_NAM</td>
                <td>
                    <a href="javascript:void(0);" d-type="ATTEND_SCORE"   d-staffid="@item.HALL_NO" >@item.ATTEND_SCORE.ToString("p")</a> 
                </td>
                <td>
                    <a href="javascript:void(0);" d-type="QUEUE_DETAIN_SCORE"   d-staffid="@item.HALL_NO">@item.QUEUE_DETAIN_SCORE.ToString("p")</a> 
                </td> 
                <td>
                    <a href="javascript:void(0);" d-type="HANDLE_ONTIME_SCORE"   d-staffid="@item.HALL_NO">@item.HANDLE_ONTIME_SCORE.ToString("p")</a> 
                </td>
                <td>
                    <a href="javascript:void(0);" d-type="QUALITY_SCORE"   d-staffid="@item.HALL_NO">@item.QUALITY_SCORE.ToString("p")</a> 
                </td>
                <td>
                    <a href="javascript:void(0);" d-type="EVAL_SATISFY_SCORE"   d-staffid="@item.HALL_NO">@item.EVAL_SATISFY_SCORE.ToString("p")</a> 
                </td>
                <td>
                    <a href="javascript:void(0);" d-type="COMPLAIN_SCORE"   d-staffid="@item.HALL_NO">@item.COMPLAIN_SCORE.ToString("p")</a> 
                </td> 
                 <td>
                    <a href="javascript:void(0);" d-type="ENVIRON_SCORE"   d-staffid="@item.HALL_NO">@item.ENVIRON_SCORE</a> 
                </td>  
                 <td>
                    <a href="javascript:void(0);" d-type="SYSTEM_SCORE"   d-staffid="@item.HALL_NO">@item.SYSTEM_SCORE</a> 
                </td>  
                 <td>
                    <a href="javascript:void(0);" d-type="NORM_SCORE"   d-staffid="@item.HALL_NO">@item.NORM_SCORE</a> 
                </td>  
                 <td>
                    <a href="javascript:void(0);" d-type="PROFESS_SCORE"   d-staffid="@item.HALL_NO">@item.PROFESS_SCORE</a> 
                </td>  
                 <td>
                    <a href="javascript:void(0);" d-type="THIRD_SURVEY_SCORE"   d-staffid="@item.HALL_NO">@item.THIRD_SURVEY_SCORE</a> 
                </td>   
                 <td>
                    <a href="javascript:void(0);" d-type="OTHER_SCORE"   d-staffid="@item.HALL_NO">@item.OTHER_SCORE</a> 
                </td>   
                <td> @(((StarLevelEunm)item.STAR_LEVEL).GetDescription())</td>
            </tr>
        }
    </table>
    @if (Model.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    else
    {
          
         Html.RenderPartial("~/Areas/STAT/Views/Shared/PagerView.cshtml");
            
    }
</div>

@section Head
{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
  @Html.JavaScript("lib/jqueryform/jquery.form.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    @Html.JavaScript("lib/ztree/jquery.ztree.core-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.excheck-3.5.min.js")
    @*@Html.JavaScript("lib/utility/ext.js")*@
    @Html.JavaScript("lib/counter/orgTree.js")
   <!-- 图表排序脚本 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.js")
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.widgets.min.js")
    <!-- 图表排序 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.pager.js") 

}

<script type="text/javascript">
    $(function () {

        var orginfo = '@ViewBag.orgId';
        var orgname = '@ViewBag.orgName';
        
        var stat = '@ViewBag.Stat';
        var endstat='@ViewBag.Endstat';
         
        $("#txtORGNAM").val(orgname);
        $("#hidORGID").val(orginfo);
        // 查询
        $("#btnSearch").ligerButton(
                {
                    text: " 查 询 ",
                    click: function () {
                        var url = "?years=" + encodeURI($("#ddlYears").val())
                                   + "&month=" + encodeURI($("#ddlMonth").val())
                            + "&endMonth=" + encodeURI($("#ddlEndMonth").val())
                            + "&orgId=" + encodeURI($("#hidORGID").val()); 
                        location.href = url.urlstamp();
                    },
                    icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
                });
        

        $("#datatable").tablesorter({
            headers: {
                0: { sorter: false },
                1: { sorter: false },
                2: { sorter: false },
                3: { sorter: false },
                4: { sorter: false },
                5: { sorter: false },
                6: { sorter: false },
                7: { sorter: false },
                8: { sorter: false }
            }
        }).tablesorterPager({ container: $("#pager") });


        //人员出勤率分数
        
        $("a[d-type='ATTEND_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailATTEND")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });
        

        //排队滞留率分数
        $("a[d-type='QUEUE_DETAIN_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailQUEUEDETAIN")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });
        


        //按时办结率分数
        $("a[d-type='HANDLE_ONTIME_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailHANDLEONTIME")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });


        //差错
        $("a[d-type='QUALITY_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailQUALITY")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });


        //不满意
        $("a[d-type='EVAL_SATISFY_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailEVALSATISFY")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });

        //不满意
        $("a[d-type='COMPLAIN_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailCOMPLAIN")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat;
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 900,
                height: 320,
                isReload: false
            });
        });


        //环境建设分数
        $("a[d-type='ENVIRON_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat+ "&type=1";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });
        //制度建设分数
        $("a[d-type='SYSTEM_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat + "&type=2";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });
        //规范建设分数
        $("a[d-type='NORM_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat + "&type=3";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });
        //行风建设分数
        $("a[d-type='PROFESS_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat + "&type=4";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });
        //第三方调查分数
        $("a[d-type='THIRD_SURVEY_SCORE']").click(function () {
            var $this = $(this); 
            var staffId = $this.attr("d-staffid");
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat + "&type=5";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });
        //其他项目分数
        $("a[d-type='OTHER_SCORE']").click(function () { 
            var $this = $(this); 
            var staffId = $this.attr("d-staffid"); 
            var url = '@Url.Action("DetailOTHER")?mo=' + stat + "&hallno=" + encodeURI(staffId) + "&endStat=" + endstat + "&type=6";
            gzsw.dialog.open({
                url: url.urlstamp(),
                title: '查看',
                width: 800,
                height: 320,
                isReload: false
            });
        });

        
    });
</script>