@using gzsw.util
@using gzsw.util.Extensions
@using gzsw.web
@model PetaPoco.Page<dynamic>
@{
    ViewBag.Title = "人流量对比分析";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var index = 0;
}
@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    @Html.JavaScript("lib/counter/orgTree.js")
    @Html.JavaScript("lib/fusionchart/FusionCharts.js")
    <style type="text/css">
        .tablelist th {
            background-image: none;
            font-weight: normal;
            text-indent: 0;
        }

        .tablelist td {
            text-indent: 0;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            // 打印报表
            $("#btnOutPut").click(function () {
                var url = "@Html.Raw(Request.Url.PathAndQuery)" + ("@Html.Raw(Request.Url.PathAndQuery)".indexOf('?') > -1 ? "&" : "?") + "export=true";
                window.open(url);
            });
        });
        function linkNAM(id) {
            var url = "@ViewBag.NAMLink&orgid=" + id + "&ddlmonth=" + $("#ddlMonth").val();
            url += "&beginTime=@ViewBag.beginTime&endTime=@ViewBag.endTime";
            window.open(url);
        }
        function showCNT(ct, id, queueBusiCd) {
            if (!queueBusiCd)
                queueBusiCd = "";
            var url = "/STAT/statstaffqueuebusid/ShowQueueCNT";
            url += "?ct=" + ct;
            url += "&queueBusiCd=" + queueBusiCd;
            url += "&orgid=" + id;
            url += "&beginTime=@ViewBag.beginTime&endTime=@ViewBag.endTime";
            window.open(url);
        }
        function showCNT2(ct, id, queueBusiCd) {
            if (!queueBusiCd)
                queueBusiCd = "";
            var url = "/STAT/statstaffqueuebusid/ShowQueueCNT";
            url += "?ct=" + ct;
            url += "&queueBusiCd=" + queueBusiCd;
            url += "&orgid=" + id;
            url += "&beginTime=@ViewBag.beginTime&endTime=@ViewBag.endTime";
            window.open(url);
        }
        $(function () {
            $("#navtab1").ligerTab();
        });
    </script>
    <script language="JavaScript">
        function autoRowSpan(tb, row, col) {
            var lastValue = "";
            var value = "";
            var pos = 1;
            for (var i = row; i < tb.rows.length; i++) {
                value = tb.rows[i].cells[col].innerText;
                if ($.trim(lastValue) == $.trim(value)) {
                    tb.rows[i].deleteCell(col);
                    tb.rows[i - pos].cells[col].rowSpan = tb.rows[i - pos].cells[col].rowSpan + 1;
                    pos++;
                } else {
                    lastValue = value;
                    pos = 1;
                }
            }
        }
        $(function () {
            autoRowSpan(datatable, 3, 1);
            autoRowSpan(datatable, 3, 0);
        });
    </script>

}
@{
    Html.RenderPartial("SearchView", Model);
}
<div class="divPanel">
    <div id="navtab1" style="overflow: hidden;">
        <div tabid="home" title="报表" lselected="true">
            <div class="tablePanel" style="padding-top: 5px;">
                <table id="datatable" class="tablelist tablesorter tablesorter-default" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr><th colspan="18" style="background-image: none;"><span style="font-size: 14px; font-weight: bold; ">@Html.Raw(ViewBag.subTitle)</span></th></tr>
                        <tr>
                            @if (Request["t"] != "3")
                            {
                                <th style="text-align: center; background-image: none; width:200px" colspan="3">  </th>
                            }
                            else
                            {
                                <th style="text-align: center; background-image: none; width: 70px" colspan="2">  </th>
                            }
                            <th style="text-align: center; background-image: none;" colspan="2"> <a href="#" onclick="showCNT('CALL_CNT', '@Request.QueryString["orgid"]');return false;">呼叫量</a> </th>
                            <th style="text-align: center; background-image: none;" colspan="2"> <a href="#" onclick="showCNT('HANDLE_CNT', '@Request.QueryString["orgid"]');return false;">办理量</a> </th>
                            <th style="text-align: center; background-image: none;" colspan="2"> <a href="#" onclick="showCNT('ABANDON_CNT', '@Request.QueryString["orgid"]');return false;">弃号量</a> </th>
                            <th style="text-align: center; background-image: none;" colspan="2" class="WAIT_DUR"> 平均时间 </th>
                            <th style="text-align: center; background-image: none;" colspan="2" class="OVERTIME_WAIT_CNT"> <a href="#" onclick="showCNT('OVERTIME_WAIT_CNT', '@Request.QueryString["orgid"]');return false;">超时等候量</a> </th>
                            <th style="text-align: center; background-image: none;" colspan="2" class="MAX_WAIT_DUR"> 最长时间 </th>
                            <th style="text-align: center; background-image: none;" colspan="2" class="VOTECNT"> <a href="#" onclick="showCNT('OVERTIME_HANDLE_CNT', '@Request.QueryString["orgid"]');return false;">超时办理</a> </th>
                            <th style="text-align: center; background-image: none;" rowspan="2" class="TOT_TICKET_CNT"> <a href="#" onclick="showCNT('TOT_TICKET_CNT', '@Request.QueryString["orgid"]');return false;">人流量</a> </th>
                        </tr>
                        <tr>
                            <th style="background-image: none;">序号</th>
                            @if (Request["t"] != "3")
                            {
                                <th style="background-image: none;">@ViewBag.NAM</th>
                            }
                            <th style=";background-image: none;">排队业务</th>
                            <th>呼叫量</th>
                            <th>呼叫率</th>
                            <th>办理量</th>
                            <th>办理率</th>
                            <th>弃号量</th>
                            <th>弃号率</th>
                            <th class="WAIT_DUR">平均办理时间</th>
                            <th class="WAIT_DUR">平均等待时间</th>
                            <th class="OVERTIME_WAIT_CNT">超时等候量</th>
                            <th class="OVERTIME_WAIT_CNT">超时等候率</th>
                            <th class="MAX_WAIT_DUR">最大等待时间</th>
                            <th class="MAX_WAIT_DUR">最长办理时间</th>
                            <th class="VOTECNT">超时办理量</th>
                            <th class="VOTECNT">超时办理率</th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Items.Count() > 0)
                    {
                        var t = Request.QueryString["t"];
                        var group = Model.Items.GroupBy(o => o.ID+","+o.NAM);
                        foreach (var g in group)
                        {
                            if (t != "3") { index++; }
                            foreach (var item in g)
                            {
                                if (t == "3") { index++; }
                                <tr>
                                    <td>@(index)</td>
                                    @if (Request["t"] != "3")
                                    {
                                        <td>
                                            <a href="#" onclick="linkNAM('@(g.Key.Split(',')[0])'); return false;">@(g.Key.Split(',')[1])</a>
                                        </td>
                                    }
                                    <td>@item.Q_SERIALNAME</td>
                                    <td><a href="#" onclick="showCNT2('CALL_CNT','@item.ID','@item.QUEUE_BUSI_CD');return false;">@item.CALL_CNT</a></td>
                                    <td>@CommonHelper.DivisionOfPercent(item.CALL_CNT,item.TOT_TICKET_CNT)</td>
                                    <td><a href="#" onclick="showCNT2('HANDLE_CNT','@item.ID','@item.QUEUE_BUSI_CD');return false;">@item.HANDLE_CNT</a></td>
                                    <td>@CommonHelper.DivisionOfPercent(item.HANDLE_CNT, item.TOT_TICKET_CNT)</td>
                                    <td><a href="#" onclick="showCNT2('ABANDON_CNT','@item.ID','@item.QUEUE_BUSI_CD');return false;">@item.ABANDON_CNT</a></td>
                                    <td>@CommonHelper.DivisionOfPercent(item.ABANDON_CNT, item.TOT_TICKET_CNT)</td>
                                    <td class="WAIT_DUR"><a href="#" onclick="showCNT2('HANDLE_DUR','@item.ID','@item.QUEUE_BUSI_CD')">@CommonHelper.DivisionOfTimeString(item.HANDLE_DUR, item.HANDLE_CNT)</a></td>
                                    <td class="WAIT_DUR"><a href="#" onclick="showCNT2('WAIT_DUR','@item.ID','@item.QUEUE_BUSI_CD');return false;">@CommonHelper.DivisionOfTimeString(item.WAIT_DUR, item.CALL_CNT)</a></td>
                                    <td class="OVERTIME_WAIT_CNT"><a href="#" onclick="showCNT2('OVERTIME_WAIT_CNT','@item.ID','@item.QUEUE_BUSI_CD');return false;">@item.OVERTIME_WAIT_CNT</a></td>
                                    <td class="OVERTIME_WAIT_CNT">@CommonHelper.DivisionOfPercent(item.OVERTIME_WAIT_CNT, item.TOT_TICKET_CNT)</td>
                                    <td class="MAX_WAIT_DUR"><a href="#" onclick="showCNT2('MAX_WAIT_DUR','@item.ID','@item.QUEUE_BUSI_CD');return false;">@(((int)item.MAX_WAIT_DUR).ToTimeString())</a></td>
                                    <td class="MAX_WAIT_DUR"><a href="#" onclick="showCNT2('MAX_HANDLE_DUR','@item.ID','@item.QUEUE_BUSI_CD');return false;">@(((int)item.MAX_HANDLE_DUR).ToTimeString())</a></td>
                                    <td class="VOTECNT"><a href="#" onclick="return showCNT('OVERTIME_HANDLE_CNT','@item.ID','@item.QUEUE_BUSI_CD')">@item.OVERTIME_HANDLE_CNT</a></td>
                                    <td class="VOTECNT">@CommonHelper.DivisionOfPercent(item.OVERTIME_HANDLE_CNT, item.HANDLE_CNT)</td>
                                    <td class="TOT_TICKET_CNT"><a href="#" onclick="return showCNT('TOT_TICKET_CNT','@item.ID','@item.QUEUE_BUSI_CD')">@item.TOT_TICKET_CNT</a></td>
                                </tr>
                            }
                            <tr class="total">
                                @if (Request["t"] != "3")
                                {
                                    <td style="text-align: center; font-weight: bold; font-size: 14px;">@(index)</td>
                                    <td style="text-align: center; font-weight: bold; font-size: 14px;"><a href="#" onclick="linkNAM('@(g.Key.Split(',')[0])'); return false;">@(g.Key.Split(',')[1])</a></td>
                                    <td style="text-align: center; font-weight: bold; font-size: 14px;">合计</td>
                                }
                                else
                                {
                                    <td colspan="2" style="text-align: center; font-weight: bold; font-size: 14px;">合计</td>
                                }

                                <td><a href="#" onclick="showCNT('CALL_CNT', '@(g.Key.Split(',')[0])')">@g.Sum(obj => obj.CALL_CNT)</a></td>
                                <td>@CommonHelper.DivisionOfPercent(g.Sum(obj => obj.CALL_CNT), g.Sum(obj => obj.TOT_TICKET_CNT))</td>
                                <td><a href="#" onclick="showCNT('HANDLE_CNT', '@(g.Key.Split(',')[0])');return false;">@g.Sum(obj => obj.HANDLE_CNT)</a></td>
                                <td>@CommonHelper.DivisionOfPercent(g.Sum(obj => obj.HANDLE_CNT), g.Sum(obj => obj.TOT_TICKET_CNT))</td>
                                <td><a href="#" onclick="showCNT('ABANDON_CNT', '@(g.Key.Split(',')[0])');return false;">@g.Sum(obj => obj.ABANDON_CNT)</a></td>
                                <td>@CommonHelper.DivisionOfPercent(g.Sum(obj => obj.ABANDON_CNT), g.Sum(obj => obj.CALL_CNT))</td>
                                <td class="WAIT_DUR"><a href="#" onclick="showCNT('HANDLE_DUR', '@(g.Key.Split(',')[0])');return false;">
                                    @CommonHelper.DivisionOfTimeString(g.Sum(obj => obj.HANDLE_DUR), g.Sum(obj => obj.HANDLE_CNT))</a></td>
                                <td class="WAIT_DUR"><a href="#" onclick="showCNT('WAIT_DUR', '@(g.Key.Split(',')[0])');return false;">@CommonHelper.DivisionOfTimeString(g.Sum(obj => obj.WAIT_DUR), g.Sum(obj => obj.CALL_CNT))</a></td>
                                <td class="OVERTIME_WAIT_CNT"><a href="#" onclick="return showCNT('OVERTIME_WAIT_CNT', '@(g.Key.Split(',')[0])')">@((g.Sum(obj => obj.OVERTIME_WAIT_CNT)))</a></td>
                                <td class="OVERTIME_WAIT_CNT">@CommonHelper.DivisionOfPercent(g.Sum(obj => obj.OVERTIME_WAIT_CNT), g.Sum(obj => obj.TOT_TICKET_CNT))</td>
                                <td class="MAX_WAIT_DUR"><a href="#" onclick="showCNT('MAX_WAIT_DUR', '@(g.Key.Split(',')[0])');return false;">@(((int)g.Max(obj => obj.MAX_WAIT_DUR)).ToTimeString())</a></td>
                                <td class="MAX_WAIT_DUR"><a href="#" onclick="showCNT('MAX_HANDLE_DUR', '@(g.Key.Split(',')[0])');return false;">@(((int)g.Max(obj => obj.MAX_HANDLE_DUR)).ToTimeString())</a></td>
                                <td class="VOTECNT"><a href="#" onclick="return showCNT('OVERTIME_HANDLE_CNT', '')">@g.Sum(obj => obj.OVERTIME_HANDLE_CNT)</a></td>
                                <td class="VOTECNT">@CommonHelper.DivisionOfPercent(g.Sum(obj => obj.OVERTIME_HANDLE_CNT), g.Sum(obj => obj.HANDLE_CNT))</td>
                                <td class="TOT_TICKET_CNT"><a href="#" onclick="return showCNT('TOT_TICKET_CNT', '')">@g.Sum(obj => obj.TOT_TICKET_CNT)</a></td>
                            </tr>
                        }
                    }
                </table>

                @if (Model == null || Model.Items.Count <= 0)
                {
                    <div class="l-panel-notDATA">
                        暂无数据
                    </div>
                }
                @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
            </div>
        </div>
        <div title="柱状图">
            @Html.Raw(ViewBag.ChartColumn3DXML)
        </div>
        <div title="线状图">
            <div>
                @Html.Raw(ViewBag.ChartSplineXML)
            </div>
        </div>
    </div>
    <div id="divAdvance" style="display:none;">
        <div style="margin-left:15px;margin-top:10px;">
            <input type="checkbox" checked="checked" onclick="chk(this, 'WAIT_DUR')" />平均办理时间
            <input type="checkbox" checked="checked" onclick="chk(this, 'OVERTIME_WAIT_CNT')" />超时等候量
            <input type="checkbox" checked="checked" onclick="chk(this,'MAX_WAIT_DUR')" />最长时间
            <input type="checkbox" checked="checked" onclick="chk(this, 'VOTECNT')" />超时办理
        </div>
    </div>
    <!-- 内容 -->
</div>
