@{
    ViewBag.Title = "ServiceSlipAnalysis";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var typeList = ViewData["typeList"] as List<CHK_QUALITY_CON>;
    var itemTypeList = ViewData["itemTypeList"] as List<SYS_DLSERIAL>;

    var thcolspan = 3;
    if (typeList != null)
    {
        thcolspan += typeList.Count;
    }
}

 @using gzsw.model 
@using gzsw.web
@model IEnumerable<IGrouping<string,gzsw.model.dto.ServiceSlipAnalysisDto>>
@*@model IList<gzsw.model.dto.ServiceSlipAnalysisDto>*@

@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")

    <!-- 图表排序脚本 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.js")
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.widgets.min.js")
    <!-- 图表排序 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.pager.js")
    @Html.JavaScript("lib/fusionchart/FusionCharts.js")
    <style type="text/css">
        .tablelist th {
            background-image: none;
            font-weight: normal;
            text-indent: 0;
        }

        .tablelist td {
            text-indent: 0;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            // 表格数据排序
            //$("#datatable").tablesorter({});
            //  初始化TAB
            $("#navtab1").ligerTab();
            // 打印报表
            $("#btnOutPut").click(function() {
                var url = "@Html.Raw(Request.Url.PathAndQuery)" + ("@Html.Raw(Request.Url.PathAndQuery)".indexOf('?') > -1 ? "&" : "?") + "export=true";
                window.open(url);
            });
            $("a[type]").click(function() {
                var url = '@Url.Action("TaxpayerEval_Node", "Statistics")';
                var param = {
                    type: $(this).attr("type"),
                    beginTime: $("#beginTime").val(),
                    endTime: $("#endTime").val(),
                    _t: Date.parse(new Date())
                };
                url = url.getUrl(param);
                window.open(url);

            });

        });
    </script>
}
@{
    Html.RenderPartial("~/Areas/STAT/Views/Shared/SearchView.cshtml", new object());
    var i = 0;
} 
<div id="navtab1" style="margin: 3px 3px 0 3px; overflow: hidden; border: 1px solid #A3C0E8; ">
    <div tabid="home" title="报表" lselected="true">
        <div class="tablePanel" style="padding-top: 5px;">
            <table id="datatable" class="tablelist tablesorter tablesorter-default" cellpadding="0" cellspacing="0">
                <thead>
                    <tr><th colspan="@thcolspan" style="background-image: none;"><span style="font-size: 14px; font-weight: bold; ">@Html.Raw(ViewBag.MainTitle)</span></th></tr>
                    <tr>
                        <th  style="text-align: center; background-image: none;" >序号  </th>
                        <th style="text-align: center; background-image: none;" > 营业厅</th>  
                        <th style="text-align: center; background-image: none;" > 事项大类</th> 
                        @if (typeList != null )
                        {
                            foreach (var item in typeList)
                            {
                                <th style="text-align: center; background-image: none;"  > @item.QUALITY_NAM </th>
                            }
                        } 
                    </tr> 
                </thead>
                @if (Model != null && Model.Any())
                {
                     

                    foreach (var dic in Model)
                    {
                        ++i;
                        var index = i;
                        var items = dic.ToList();

                        for (var j = 1; j < itemTypeList.Count(); j++)
                        {
                            <tr>
                                @if (index == i)
                                {
                                    <td rowspan="@(itemTypeList.Count()-1)"> @i </td>
                                    <td rowspan="@(itemTypeList.Count()-1)">
                                        <a href="javascript:void(0);" ref="@Url.Action("ServiceSlipAnalysis_Person", "Statistics", new { @orgId = @items[0].HALL_NO })">@dic.Key</a>
                                    </td>
                                }
                                
                                <td>@itemTypeList[j].DLS_SERIALNAME</td>

                                @foreach (var item in typeList)
                                {
                                    <td>
                                        @{
                                    var def = items.FirstOrDefault(m => m.QUALITY_CD == item.QUALITY_CD && m.SSDLSERIALID == itemTypeList[j].DLS_SERIALID );
                                        }
                                        @(def==null?0:def.AMOUNT)
                                    </td>
                                }

                            </tr>
                    
                            index++;
                        }
                    }

              } 

                 @*   <tfoot>
                        <tr>
                            <td colspan="2" style="text-align: center; font-weight: bold; font-size: 14px;">合计</td>
                            <td> @value1</td>
                            <td>@((value1 / valueCount).ToPercent())</td>
                            <td> @value2</td>
                            <td>@((value2 / valueCount).ToPercent())</td>
                            <td> @value3</td>
                            <td>@((value3 / valueCount).ToPercent())</td>
                            <td> @value4</td>
                            <td>@((value4 / valueCount).ToPercent())</td>
                            <td> @value5</td>
                            <td>@((value5 / valueCount1).ToPercent())</td>
                            <td>@((valueCount2 / valueCount).ToPercent())</td>
                        </tr>
                    </tfoot>*@
                 
            </table>

            @if (Model == null || !Model.Any())
            {
                <div class="l-panel-notDATA">
                    暂无数据
                </div>
            }
            
        </div>
    </div>
    <div title="柱状图">
        <div>
            @Html.Raw(ViewBag.ChartColumn3DXML)
        </div>
    </div>
    <div title="线状图">
        <div>
            @Html.Raw(ViewBag.ChartSplineXML)
        </div>
    </div>
</div>
<!-- 内容 -->
