@using gzsw.web
@using gzsw.util
@model IList<gzsw.model.dto.Statistics_STAT_DAYYWTJ>
@{
    ViewBag.Title = "STAT_DAYQUEUETJ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    // 序号
    var index = 0;
    // 统计量总数
    double valueCount = Model.Select(
        x => x.QDDTJ_PJKEY1NUM 
            + x.QDDTJ_PJKEY2NUM
            + x.QDDTJ_PJKEY3NUM
            + x.QDDTJ_PJKEY4NUM
            + x.QDDTJ_PJKEY5NUM).Sum(); 
     // 很满意量
     var value1 = (Model.Select(x => x.QDDTJ_PJKEY1NUM).Sum()); 
     // 满意量
     var value2 = (Model.Select(x => x.QDDTJ_PJKEY2NUM).Sum());
     // 一般量
     var value3 = (Model.Select(x => x.QDDTJ_PJKEY3NUM).Sum());
     // 不满意量
     var value4 = (Model.Select(x => x.QDDTJ_PJKEY4NUM).Sum());
     // 很不满意量
     var value5 = (Model.Select(x => x.QDDTJ_PJKEY5NUM).Sum()); 
     // 未评级量
     var value0 = (Model.Select(x => x.QDDTJ_PJKEY0NUM).Sum()); 
}
@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    @Html.JavaScript("lib/ztree/jquery.ztree.core-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.excheck-3.5.min.js")
    @Html.JavaScript("lib/counter/orgTree.js")
    <!--  图表插件 -->
    @Html.JavaScript("lib/highcharts/js/highcharts.js")
    @Html.JavaScript("lib/highcharts/js/modules/exporting.src.js")
    @Html.JavaScript("lib/highcharts/js/highcharts-3d.js")   
     <!-- 图表排序脚本 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.min.js")
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.widgets.min.js") 
    @*@Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.pager.js")*@
    <!-- 图表排序 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.pager.js")
    <style type="text/css">
        .ztree {
            z-index: 9999;
        }
    </style>
@if (Model == null || Model.Count() <= 0)
{
    <style type="text/css">
        .tablelist th {
            background-image: none;
            font-weight: normal;
        }
    </style>
}
    <script type="text/javascript">
    $(function() {
        // 表格数据排序
        $("#datatable").tablesorter()
                .tablesorterPager({container: $("#pager")});
        //初始化树
        orgTree.init({
            documentId: "txtORG_NAM",
            loadDataUrl: '@Url.Action("GetHallTree", "VirtualHall", new { area = "SYS", @level = 4 })',
                onSelect: onSelect
            });

            // 组织结构选择
            function onSelect(treeId, treeNode) {
                if (treeNode != undefined) {
                    $("#txtORG_NAM").val(treeNode.name);
                    $("#hdORG_NAM").val(treeNode.id);
                }
            }

            // 打印报表
            $("#btnOutPut").click(function() {
                gzsw.dialog.confirm({
                    msg: '是否导出该报表？',
                    yesFun: function (index) {
                        layer.close(index);
                        // 导出报表
                        var url = '@Url.Action("STAT_DAYYWTJ_OutPut", "Statistics")';
                        url= url.getUrl({
                            _t: Date.parse(new Date()),
                            txtBeginTime: $("#txtBeginTime").val(),
                            txtEndTime: $("#txtEndTime").val(),
                            hdORG_NAM: $("#hdORG_NAM").val(),
                            txtORG_NAM: $("#txtORG_NAM").val()
                        });
                     
                        location.href = url;
                    }
                });
            });

            // 查询
        $("#btnSearch").click(function() {
            
                var url = location.href;
                url = url.getUrl({
                    _t: Date.parse(new Date()),
                    txtBeginTime: $("#txtBeginTime").val(),
                    txtEndTime: $("#txtEndTime").val(),
                    hdORG_NAM: $("#hdORG_NAM").val(),
                    txtORG_NAM: $("#txtORG_NAM").val()
                }); 
                location.href = url;
            });
            // 根据Table 生成图表
            $(function() {
                var saturationOption = {
                    chart: {
                        type: 'column',
                        renderTo: 'saturationContent',
                        options3d: {
                            enabled: true,
                            alpha: 0,
                            beta: 0,
                            depth: 50,
                            viewDistance: 25
                        }
                    /*   , margin: [50, 50, 100, 80]*/
                    },
                    title: { text: '个人评价分布图<br/><span style=\"font-size:12px;\">(@(ViewData["beginTime"]) ~ @(ViewData["txtEndTime"]))</span> ' },
                xAxis: {
                    categories: @Html.Raw(ViewData["x"])
                    },
                yAxis: {
                    min: 0,
                    title: {
                        text: '次数'
                    }
                    /*  ,
                       allowDecimals: true */
                },
                plotOptions: {
                    column: {
                        depth: 25
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y} 次 </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                legend: {
                    enabled: false
                },
                series: [
                    {
                        name: '很满意量',
                        data: @Html.Raw(ViewData["y1Value"]),
                        color: "#52ab46"
                    },
                    {
                        name: '满意量',
                        data: @Html.Raw(ViewData["y2Value"]),
                        color: "#78e16a"
                    },
                    {
                        name: '一般量',
                        data: @Html.Raw(ViewData["y3Value"]),
                        color: "#ccd451"
                    },
                    {
                        name: '不满意量',
                        data: @Html.Raw(ViewData["y4Value"]),
                        color: "#ff9e9e"
                    },
                    {
                        name: '很不满意量',
                        data: @Html.Raw(ViewData["y5Value"]),
                        color: "#cb0000"
                    },
                    {
                        name:'未评价量',
                        data:@Html.Raw(ViewData["y0Value"]),
                        color:"#e35cf7"
                    }
                ]
            };

            /*   window.setInterval(function() {*/
            var saturationChart = new Highcharts.Chart(saturationOption);

            /*  },3000);*/

        });
    });
    </script>
}
<!-- 查询条件 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tbody>
            <tr>
                <td style="width:85px;">开始时间：</td>
                <td style="width:140px;"><input type="text" style="width:100px;" readonly="readonly" onclick="WdatePicker()" value="@(ViewData["beginTime"])" name="txtBeginTime" id="txtBeginTime"></td>
                <td style="width: 85px;"> 结束时间：</td>
                <td style="width:140px;"><input type="text" style="width:100px;" readonly="readonly" onclick="WdatePicker()" value="@(ViewData["txtEndTime"])" name="txtEndTime" id="txtEndTime"></td>
                <td style="width: 85px;"> 组织机构：</td>
                <td style="width:170px;">
                    <input type="text" style="width:140px;" name="txtORG_NAM" value="@(ViewData["organizeName"])" readonly="readonly" id="txtORG_NAM">
                    <div id="orgTreeContent" style="display: none; position: absolute; background-color: #FFF; border: 1px solid #ccc;">
                        <ul id="treeOrg" class="ztree" style="clear:both;"></ul>
                    </div>
                    <input type="hidden" value="@(ViewData["organizeId"])" id="hdORG_NAM" name="hdORG_NAM" />
                </td>
                <td style="width:90px;">
                    <div id="btnSearch" class="l-button l-button-hasicon" ligeruiid="btnSearch" style="width: 60px; margin-left: 10px;">
                        <div class="l-button-l"></div>
                        <div class="l-button-r"></div>
                        <span> 查 询 </span>
                        <img src="/Content/lib/ligerUI/skins/icons/search.png">
                    </div>
                </td>
                <td>
                    <div id="btnOutPut" class="l-button l-button-hasicon" ligeruiid="btnSearch" style="width: 80px; ">
                        <div class="l-button-l"></div>
                        <div class="l-button-r"></div>
                        <span>  &nbsp;导出excel </span>
                        <img src="@Html.Url("Content/lib/ligerUI/skins/icons/view.gif")">
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>  
<!-- 内容 -->
<div class="tablePanel" style="padding-top:5px;">
    <table id="datatable" class="tablelist tablesorter tablesorter-default" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="text-align: center; background-image: none; width: 15px" colspan="2">  </th>
                <th style="text-align: center;" colspan="2">很满意   </th>
                <th style="text-align: center;" colspan="2">满意   </th>
                <th style="text-align: center;" colspan="2">一般   </th>
                <th style="text-align: center;" colspan="2">不满意   </th>
                <th style="text-align: center;" colspan="2">很不满意   </th>
                <th style="text-align: center;" colspan="2">未评价   </th>
            </tr>
            <tr>
                <th >序号</th>
                <th >员工名称</th>
                <th >很满意量</th>
                <th >很满意占比</th>
                <th >满意量</th>
                <th >满意占比</th>
                <th >一般量</th>
                <th >一般占比</th>
                <th >不满意量</th>
                <th >不满意占比</th>
                <th >很不满意量</th>
                <th >很不满意占比</th>
                <th >未评价量</th>
                <th >未评价占比</th>
            </tr>
        </thead>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>@(++index)</td>
                    <td>@item.STAFF_NAM</td>
                    <td>@item.QDDTJ_PJKEY1NUM</td>
                    <td>@item.KEY1RT %</td>
                    <td>@item.QDDTJ_PJKEY2NUM</td>
                    <td>@item.KEY2RT %</td>
                    <td>@item.QDDTJ_PJKEY3NUM</td>
                    <td>@item.KEY3RT %</td>
                    <td>@item.QDDTJ_PJKEY4NUM</td>
                    <td>@item.KEY4RT %</td>
                    <td>@item.QDDTJ_PJKEY5NUM</td>
                    <td>@item.KEY5RT %</td>
                    <td>@item.QDDTJ_PJKEY0NUM</td>
                    <td>@item.KEY0RT %</td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center; font-weight: bold; font-size: 14px;">合计</td>
                    <td>@value1</td>
                    <td>@((value1 / valueCount).ToPercent())</td>
                    <td>@value2</td>
                    <td>@((value2 / valueCount).ToPercent())</td>
                    <td>@value3</td>
                    <td>@((value3 / valueCount).ToPercent())</td>
                    <td>@value4</td>
                    <td>@((value4 / valueCount).ToPercent())</td>
                    <td>@value5</td>
                    <td>@((value5 / valueCount).ToPercent())</td>
                    <td>@value0</td>
                    <td>@((value0 / valueCount).ToPercent())</td>
                </tr>
            </tfoot>
        }

    </table>
  
    @if (Model == null || Model.Count <= 0)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    else
    { 
    <div id="pager" class="l-panel-bar">
        <div class="l-panel-bbar-inner">
            <div class="l-bar-group  l-bar-message">
                @*<span class="l-bar-text">当前第1页/共1页 (共:18条记录/每页显示:20)</span>*@
            </div><div class="l-bar-group">
                <select class="pagesize">
                    <option selected="selected" value="10">10</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="l-bar-separator"></div>
            <div class="l-bar-group">
                <div class="l-bar-button l-bar-btnfirst">
                    <span title="首页" class="first"></span>
                </div>
                <div class="l-bar-button l-bar-btnprev">
                    <span title="上一页" class="prev"></span>
                </div>
            </div>
            <div class="l-bar-separator"></div>
             <div class="l-bar-group">
            <span class="pcontrol">
                <input type="text" style="width:30px;height:14px;" readonly="readonly" class="pagedisplay" /> 
            </span>
                </div>  
            <div class="l-bar-separator"></div>
            <div class="l-bar-group">
                <div class="l-bar-button l-bar-btnnext">
                    <span class="next" title="下一页"></span>
                </div>
                <div class="l-bar-button l-bar-btnlast">
                    <span class="last" title="尾页"></span>
                </div>
            </div> 
        </div> 
 </div>

    }
</div>
<div id="saturationContent" style="padding-top:25px;"></div>