@using gzsw.model
@using gzsw.util
@using gzsw.web
@model IList<gzsw.model.dto.Statistics_TaxpayerActionDto>
@{
    ViewBag.Title = "服务厅评价分析";
    Layout = "~/Views/Shared/_MainLayout.cshtml"; 
    // 事项大类
    var itemTypeList = ViewData["itemTypeList"] as List<SYS_DLSERIAL>;
    var cloRow = itemTypeList.Count();
    var i = 0;
}

@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")

    <!-- 图表排序脚本 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.js")
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.widgets.min.js")
    <!-- 图表排序 -->
    @Html.JavaScript("lib/tablesorter/js/jquery.tablesorter.pager.js")
    @Html.JavaScript("lib/fusionchart/FusionCharts.js")
    <style type="text/css">
        .tablelist th {
            background-image: none;
            font-weight: normal;
            text-indent: 0;
        } 
        .tablelist td {
            text-indent: 0;
        }
        .tablelist tbody tr:hover {
            background: none;
        } 
    </style>
    <script type="text/javascript">
        $(function () {
            // 表格数据排序 
            //  初始化TAB
            $("#navtab1").ligerTab();
            // 打印报表
            $("#btnOutPut").click(function () {
                var url = "@Html.Raw(Request.Url.PathAndQuery)" + ("@Html.Raw(Request.Url.PathAndQuery)".indexOf('?') > -1 ? "&" : "?") + "export=true";
                window.open(url);
            });
            $("a[type]").click(function () {
                var columnType = $(this).attr("clotype");
                var url = '@Url.Action("TaxpayerAction_Node", "Statistics")';
                var param = {
                    headType: $(this).attr("type"),
                    beginTime: $("#beginTime").val(),
                    endTime: $("#endTime").val(),
                    _t: Date.parse(new Date())
                }; 
                if (columnType != undefined && columnType != null) {
                    param = {
                        headType: $(this).attr("type"),
                        beginTime: $("#beginTime").val(),
                        endTime: $("#endTime").val(),
                        columnType: columnType,
                        _t: Date.parse(new Date())
                    };
                }
                url = url.getUrl(param);
                window.open(url); 
            });

        });
    </script>
}
@{
    Html.RenderPartial("~/Areas/STAT/Views/Shared/SearchView.cshtml", new object());
}

<div id="navtab1" style="margin: 3px 3px 0 3px; overflow: hidden; border: 1px solid #A3C0E8; ">
    <div tabid="home" title="报表" lselected="true">
        <div class="tablePanel" style="padding-top: 5px;">
            <table id="datatable" class="tablelist tablesorter tablesorter-default" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th colspan="5" style="background-image: none;">
                            <span style="font-size: 14px; font-weight: bold; ">
                                @ViewBag.MainTitle @ViewBag.NodeTitle
                            </span>
                        </th>
                    </tr> 
                    <tr>
                        <th style="text-align: center; background-image: none;" >序号  </th>
                        <th style="text-align: center; background-image: none;"> 服务厅</th>
                        <th style="text-align: center; background-image: none;"> 业务大类</th>
                        <th style="text-align: center; background-image: none;" > <a type="1" href="#">同城业务量 </a></th>
                        <th style="text-align: center; background-image: none;"><a type="2" href="#"> 二次办税业务量  </a></th> 
                    </tr> 
                </thead>
                @if (Model != null && Model.Count() > 0)
                { 
                    foreach (var dic in Model.GroupBy(x=>x.HALL_NO))
                    {  
                        for (var j = 0; j < itemTypeList.Count(); j++)
                        {
                            var item = dic.FirstOrDefault(x => x.DLS_SERIALID == itemTypeList[j].DLS_SERIALID);
                                
                            <tr>
                                    @if (j == 0)
                                    { 
                                        <td rowspan="@cloRow"> @(++i) </td>
                                        <td rowspan="@cloRow">
                                            <a ref="@Url.Action("TaxpayerAction_Person", "Statistics", new { beginTime = ViewBag.beginTime, endTime = ViewBag.endTime, orgId = @dic.Key })" href="#">

                                                @dic.FirstOrDefault().HALL_NAM
                                            </a> 
                                         </td>
                                    }  
                                <td>@itemTypeList[j].DLS_SERIALNAME</td>   
                                @if (item!=null)
                                    {
                                        <td>
                                            <a type="1" clotype="@itemTypeList[j].DLS_SERIALID" href="#">
                                                @item.LOCAL_CNT
                                            </a>
                                        </td>
                                        <td>
                                            <a type="2" clotype="@itemTypeList[j].DLS_SERIALID" href="#">
                                                @item.SECOND_SVR_CNT
                                            </a>
</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a type="1" clotype="@itemTypeList[j].DLS_SERIALID" href="#">
                                                0
                                            </a>
</td>
                                        <td>
                                            <a type="2" clotype="@itemTypeList[j].DLS_SERIALID" href="#">
                                                0
                                            </a>
</td> 
                                    }
                                
                            </tr> 

                        }

                    }
                    

                }
            </table>

            @if (Model == null || Model.Count <= 0)
            {
                <div class="l-panel-notDATA">
                    暂无数据
                </div>
            }
           
        </div>
    </div>
    <div title="柱状图">
        <div>
            @Html.Raw(ViewBag.ChartColumn3DXML)
        </div>
    </div>
    <div title="线状图">
        <div>
            @Html.Raw(ViewBag.ChartSplineXML)
        </div>
    </div>
</div>
<!-- 内容 -->
