@{
    ViewBag.Title = "员工考勤";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using gzsw.model
@using gzsw.model.Enums
@using gzsw.util
@using gzsw.web
@model PetaPoco.Page<gzsw.model.CHK_STAFF_APPLYDETAIL>

<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:100px;">服务厅：</td>
            <td style="width:150px;">@Html.DropDownList("ddlORGID", ViewBag.Orgs as SelectList)</td>
            <td style="width:100px;">员工编码：</td>
            <td style="width:170px;">
                <input type="text" name="txtStaffNo" id="txtStaffNo" value="@ViewBag.StaffNo" /> 
            </td>
            <td style="width: 100px;"> 员工名称：</td>
            <td style="width:120px;">
                <input type="text" name="txtStaffName" id="txtStaffName" value="@ViewBag.StaffName" />
            </td>

            <td>
                <div id="btnSearch"></div>
            </td>

        </tr>
    </table>

</div>
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist">
        <thead>
            <tr>
                <th style="width:30px;">
                    <input id="chkAll" name="chkAll" type="checkbox"  />
                </th>
                <th style="width:38px;">序号 </th>
                <th>员工编码</th>
                <th>员工名称</th>
                <th>请假开始时间</th>
                <th>请假结束时间</th>
                <th>请假类型</th>
                <th>申请状态</th>
            </tr>
        </thead>

        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="cbId" value="@item.APPLYDETAIL_ID"  type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>@item.CHK_STAFF_ID</td>
                <td>@item.STAFF_NAM</td>
                <td>@item.BEGIN_TIME.ToString("yyyy-MM-dd HH时")</td>
                <td>@item.END_TIME.ToString("yyyy-MM-dd HH点时")</td>
                <td>@(EnumHelper.ConvertToE<HOLLI_TYPE_ENUM>(item.HOLLI_TYP.ToString()))</td>
                <td>@(EnumHelper.ConvertToE<CHK_STAFF_APPLYDETAIL.APPLY_STATE_ENUM>(item.APPLY_STATE.ToString()))</td>
            </tr>
        }
    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
</div>

<script type="text/javascript">
    $(function() {
        // 查询
        $("#btnSearch").ligerButton(
                {
                    text: " 查 询 ",
                    click: function() {
                        var url = "?staffNo=" + encodeURI($("#txtStaffNo").val())
                            + "&orgId=" + encodeURI($("#ddlORGID").val())
                            + "&staffName=" + encodeURI($("#txtStaffName").val());
                        location.href = url.urlstamp();
                    },
                    icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
                });

        // 顶部导航
        var ligerToolBar = $("#toptoolbar").ligerToolBar();

        @if (Html.ChkAuth("CHK_STAFF_APPLYDETAIL_VIW"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIViewButton(Url.Action("Details"), "查看", "CHK_STAFF_APPLYDETAIL_VIW", 550, 320));
                                        @:ligerToolBar.addItem({ line: true });
                                    }

        @if (Html.ChkAuth("CHK_STAFF_APPLYDETAIL_ADD"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIAddButton(Url.Action("Create"), "增加", "CHK_STAFF_APPLYDETAIL_ADD", 600, 400));
                                @:ligerToolBar.addItem({ line: true });
                            }
        @if (Html.ChkAuth("CHK_STAFF_APPLYDETAIL_EDT"))
            {
               <text>
            ligerToolBar.addItem({
                    text: '撤消',
                    click: function(item) {
                        if ($(".tablelist").getSelCount() != 1)
                        { 
                            gzsw.dialog.alert("请选择需要操作的单个选项!");
                            return false; 
                        }
                        var url = '/CHK/ApplyDetail/Edit' + '?id=' + $('.tablelist').getSelValue();

                        gzsw.dialog.open({ url: url.urlstamp(), title: '撤消', width: 550, height: 320, isReload: true });
                    },
                    icon: 'logout'
            });
            </text>
            }
        @if (Html.ChkAuth("CHK_STAFF_APPLYDETAIL_DEL"))
            {
        @:ligerToolBar.addItem(@Html.LigerUIDeleteButton(Url.Action("Delete"), "删除", "CHK_STAFF_APPLYDETAIL_DEL"));
            }
    });
</script>