@using gzsw.model.Subclasses
@using gzsw.util.Extensions
@using gzsw.web
@model PetaPoco.Page<dynamic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- 查询菜单 -->
<div class="l-panel-search">

</div>
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist">
        <thead>
            <tr>
                <th style="width:30px;">
                    <input id="chkAll" name="chkAll" type="checkbox" />
                </th>
                <th style="width:38px;">序号 </th>
                <th>服务厅</th>
                <th>排队号码</th>
                <th>取号时间</th>
                <th>排队业务</th>
                <th>纳税人名称</th>
                <th>等候时长</th>
                <th>受理时长</th>
                <th>评价</th>
            </tr>
        </thead>

        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="cbId" value="@item.CHQUEUE_TRANSCODEID" type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>@item.HALL_NAM</td>
                <td>@item.CHQUEUE_NUMBER</td>
                <td>@(item.CHQUEUE_TICKETTIME == null ? string.Empty : item.CHQUEUE_TICKETTIME.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                <td>@item.Q_SERIALNAME</td>
                <td>@item.CHQUEUE_NSRMC</td>
                <td>@(((int)item.CHQUEUE_WAITTIME).ToTimeString())</td>
                <td>@(((int)item.CHQUEUE_BLTIME).ToTimeString())</td>
                <td>@(((SYS_CURRQUEUEHIST_SUB.PJRESULTENUM)item.CHQUEUE_PJRESULT).GetDescription())</td>
            </tr>
        }
    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
</div>


@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    <script type="text/javascript">
    $(function () {

        // 顶部导航
        var ligerToolBar = $("#toptoolbar").ligerToolBar();

        @if (Html.ChkAuth(""))
            {
                @*@:ligerToolBar.addItem(@Html.LigerUIViewButton("../Detail/Currqueuehist/Details", "查看", "VIEW", 800, 400));*@

                <text>
                    ligerToolBar.addItem({
                        text: '查看',
                        click: function () {
                            if ($(".tablelist").getSelCount() != 1) {
                                gzsw.dialog.alert("请选择需要操作的单个选项!"); return false;

                            }
                            var url = '@Url.Action("Details", "Currqueuehist", new { area = "Detail" })?id=' + $(".tablelist").getSelValue();
                            gzsw.dialog.openFull({
                                title:'查看',
                                url: url.urlstamp(),
                                width: 800,
                                height: 450,
                                isReload: false

                            });

                        },
                        icon: 'archives'

                    });
                </text>

                @:ligerToolBar.addItem({ line: true });
                                }

    });
    </script>
}