@using gzsw.web
@model gzsw.model.WARN_RELEASE_STAFF_DETAIL

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:100px;" class="tdLeft">
                标题：
            </td>
            <td>
                @Html.EditorFor(model => model.TITLE)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.TITLE)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">
                发送对象：
            </td>
            <td>
                @Html.RadioButtonList("MType", @ViewBag.TypeList as IEnumerable<SelectListItem>)
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tdLeft">
                服务厅：
            </td>
            <td>
                @Html.DropDownList("ORG_ID", ViewBag.ORGS as SelectList)
            </td>
            <td>
                @Html.ValidationMessage("ORG_ID")
            </td>
        </tr>
        <tr id="Release_CONTENT"></tr>
        <tr>
            <td class="tdLeft">
                开始有效时间：
            </td>
            <td>
                <input type="text" name="BEGIN_TIME" id="BEGIN_TIME" class="text-box single-line" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.BEGIN_TIME, null, new { type = "text" })
            </td>
        </tr>
        <tr>
            <td class="tdLeft">
                结束有效时间：
            </td>
            <td>
                <input type="text" name="END_TIME" id="END_TIME" class="text-box single-line" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.END_TIME)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">
                信息详情：
            </td>
            <td colspan="2">
                @Html.TextAreaFor(model => model.RELEASE_MESSAGE, new { @style = "height:50px;width:360px;" })

                @Html.ValidationMessageFor(model => model.RELEASE_MESSAGE)
            </td>
        </tr>
        <tr>
            <td class="tdLeft"> &nbsp;  </td>
            <td>
                <input type="submit" class="l-button" value="提交" />
            </td>
            <td> </td>
        </tr>
    </table>
}

@section Head{
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    @Html.JavaScript("lib/jqueryform/jquery.form.js")
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    @Html.JavaScript("lib/utility/ext.js")
    <style type="text/css">
        .radiobuttonlist .item {
            float: left;
            margin-right: 10px;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            InitAjaxForm();//异步提交
            $("input[name=MType]").click(function () {
                loadPartial();
            });
            $("select[name='ORG_ID']").change(function () {
                loadPartial();
            });
            loadPartial();
        });
        function loadPartial() {
            var check = $("input[name=MType]:checked").val();
            $("#Release_CONTENT").load("/WARN/Release/Release_Partial?mt=" + check
                    + "&org=" + $("select[name='ORG_ID']").val());
        }
    </script>
}


