@using gzsw.web
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var marker = ViewData["Marker"] as List<gzsw.model.SYS_ORGANIZE>;
}
@model gzsw.model.SYS_ORGANIZE
@section Head{ 
    @Html.GetMapJS()
    <style type="text/css">
    /* 透明背景 */
        .filterBg {
            filter: alpha(opacity=80); /*IE滤镜，透明度50%*/
            -moz-opacity: 0.8; /*Firefox私有，透明度50%*/
            opacity: 0.8; /*其他，透明度50%*/
        }
    </style> 
    <!--  图表插件 --> 
@Html.JavaScript("lib/highcharts/js/highcharts.js")
@Html.JavaScript("lib/highcharts/js/modules/exporting.src.js") 
    <script  type="text/javascript">
        $(function(){
            /* 初始化 */
            gzsw.map.init({ id: "map_canvas",txt:"@ViewData["MapName"]" });
                @foreach (var item in marker)
            {
                if (item != null && !string.IsNullOrEmpty(item.LONGITUDE) && !string.IsNullOrEmpty(item.DIMENSION))
                {
                    <text>
                        gzsw.map.addMarker(
                            {
                               
                                text:'@item.ORG_NAM',
                                level:@item.ORG_LEVEL,
                                x: "@item.DIMENSION", 
                                y: "@item.LONGITUDE", 
                                url: "@Html.Url("Mon/VirtualMonitor/index" + "?orgId=" + @item.ORG_ID) ", 
                    mapDataUrl:"@Url.Action("GetChartData", "MapServer", new
                    {
                        @orgId = @item.ORG_ID
                    })"  }); 
                    </text>

                }
            }

            @if (Model != null && !string.IsNullOrEmpty(Model.LONGITUDE) && !string.IsNullOrEmpty(Model.DIMENSION))
            {
                  <text>
                        gzsw.map.addMarker(
                            {
                                
                                text:'@Model.ORG_NAM',
                                level:@Model.ORG_LEVEL,
                                x: "@Model.DIMENSION", 
                                y: "@Model.LONGITUDE", 
                                url: "@Html.Url("Mon/VirtualMonitor/index" + "?orgId=" + @Model.ORG_ID) ", 
                                mapDataUrl:"@Url.Action("GetChartData", "MapServer", new
                                            {
                                                @orgId = @Model.ORG_ID
                                            })"  }); 
                        </text>
            }

        
            
        });
    </script> 
} 
<div style="z-index:9999; width:100%;position : absolute; border: #ccc 1px solid; text-align: center;cursor:pointer; background-color: #e5ff69; line-height: 28px; font-size: 14px; ">@ViewData["MapName"] - 监控分布地图</div>
<div id="map_canvas"></div> 
