@using gzsw.model
@using gzsw.util
@using gzsw.web;
@model PetaPoco.Page<dynamic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- 查询菜单 -->
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:100px;">服务厅：</td>
            <td style="width:170px;">
                @Html.DropDownList("ddlORGID", ViewBag.Orgs as SelectList)
            </td>
            <td style="width: 100px;"> 月份：</td>
            <td style="width:120px;">
                <input type="text" name="txtStatMo" id="txtStatMo" value="@ViewBag.StatMo" onclick="WdatePicker({ dateFmt: 'yyyy-MM' })" />
            </td>
            <td>
                <div id="btnSearch"></div>
            </td>

        </tr>
    </table>
</div>
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                <th>序号</th>
                <th>
                    修正后的投诉事件次数
                </th>
                <th>
                    修正后的服务厅全体人数
                </th> 
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input name="cbId" value="@item.STAT_MO" d-staffid="@item.HALL_NO" d-stat_mo="@item.STAT_MO" type='checkbox' />
                </td>
                <td>
                    @(i++)
                </td>
                <td>
                    @item.COR_COMPLAIN_CNT
                </td>
                  <td>
                    @item.COR_HALL_STAFF_CNT
                </td> 
            </tr>
        }

    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
</div>

@section Head{
    @Html.JavaScript("lib/datepicker/WdatePicker.js")
    <script type="text/javascript">
        $(function () {
            // 注册事件
            $("#btnSearch").ligerButton(
                  {
                      text: " 查 询 ",
                      click: function () {
                          var url = "?statMo=" + encodeURI($("#txtStatMo").val())
                              + "&orgId=" + encodeURI($("#ddlORGID").val());
                          location.href = url.urlstamp();
                      },
                      icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
                });



            // 顶部导航
            // 顶部导航
            var ligerToolBar = $("#toptoolbar").ligerToolBar();
 @if (Html.ChkAuth("CHK_HALL_STAT_M_VIW"))
            {
 

                @:ligerToolBar.addItem(@Html.LigerUIViewButton(Url.Action("Detail"), "查看", "CHK_HALL_STAT_M_VIW", 450, 320, "staffId", "@:$('table.tablelist').getSelAttr('d-staffId')"));
                            @:ligerToolBar.addItem({ line: true });
                            
            }
            
            

            @if (Html.ChkAuth("CHK_HALL_STAT_M_EDT"))
            {
                @:ligerToolBar.addItem(@Html.LigerUIEditButton(Url.Action("Edit"), "修正", "CHK_HALL_STAT_M_EDT", 600, 500, "staffId", "@:$('table.tablelist').getSelAttr('d-staffId')"));
                                        @:ligerToolBar.addItem({ line: true });
                                    }
            
            
            

 
        });
    </script>
}
