@using gzsw.web;
@model gzsw.model.SYS_DLSERIAL

@{
    ViewBag.Title = "修改业务大类";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table class="formTable" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:100px;" class="tdLeft">
                    业务编码：
                </td>
                <td>@Html.DisplayFor(model => model.DLS_SERIALID)</td>
            </tr>

            <tr>
                <td class="tdLeft">
                    业务名称：
                </td>
                <td>@Html.HiddenFor(model => model.DLS_SERIALID)
                @Html.EditorFor(model => model.DLS_SERIALNAME)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.DLS_SERIALNAME)
                </td>
            </tr>

            <tr>
                <td class="tdLeft">
                    备注：
                </td>
                <td>@Html.TextAreaFor(model => model.SYS_BZ, new { @style = "height:50px;width:300px;" })</td>
                <td>
                    @Html.ValidationMessageFor(model => model.SYS_BZ)
                </td>
            </tr>

            <tr>
                <td class="tdLeft"> &nbsp;  </td>
                <td>
                    <input type="submit" class="l-button" value="提交" /> 
                </td>
                <td> </td>
            </tr>
        </table>
}
@section Head{
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
}