@using gzsw.web;
@model List<gzsw.model.CHK_HALL_STAR_SYSTEM_CON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
} 
<div id="toptoolbar"></div>

<div class="tablePanel">
    <table class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 40px;">
                    <input id="chkAll" name="chkAll" type="checkbox" /></th> 
                <th>星级</th>
                <th>人员出勤率</th>
                <th>排队滞留率</th>
                <th>按时办结率</th>
                <th>办税差错率</th>
                <th>评价满意率</th>
                <th>综合投诉率</th>
                <th>环境建设</th>
                <th>制度建设</th>
                <th>规范建设</th>
                <th>行风建设</th>
                <th>第三方调查</th>
                <th>其他项目分数</th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                 <td>
                    <input name="cbId" value="@(item.STAR_LEVEL)" type='checkbox' />
                </td> 
                <td>
                    @item.STAR_LEVEL
                </td>
                <td>
                    @(item.ATTEND_SCORE*100) %
                </td>
                <td>
                    @(item.QUEUE_DETAIN_SCORE*100)%
                </td>
                <td>
                    @(item.HANDLE_ONTIME_SCORE*100)%
                </td>
                <td>
                    @(item.QUALITY_SCORE*100)%
                </td>
                <td>
                    @(item.EVAL_SATISFY_SCORE*100)%
                </td>
                <td>
                    @(item.COMPLAIN_SCORE*100)%
                </td>
                <td>
                    @item.ENVIRON_SCORE
                </td>
                <td>
                    @item.SYSTEM_SCORE
                </td>
                <td>
                    @item.NORM_SCORE
                </td>
                <td>
                    @item.PROFESS_SCORE
                </td>
                <td>
                    @item.THIRD_SURVEY_SCORE
                </td>
                <td>
                    @item.OTHER_SCORE
                </td>
            </tr>
        }

    </table>
    @if (Model.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    } 
</div>

@section Head{
    @Html.JavaScript("lib/utility/ext.js")
    <script lang="javascript">
        $(function () {
            // 注册事件
             
            // 顶部导航
            var bar = $("#toptoolbar").ligerToolBar();

              @if (Html.ChkAuth("CHK_HALL_CHKITEM_CON_ADD"))
              {
                            @:bar.addItem(@Html.AuthAddButton("CHK_HALL_CHKITEM_CON_ADD", Url.Action("Create"), "新增", 500, 400));
                                                    @:bar.addItem({ line: true });
                                    }

                        @if (Html.ChkAuth("CHK_HALL_CHKITEM_CON_EDT"))
                        {
                            @:bar.addItem(@Html.LigerUIEditButton(Url.Action("Edit"), "修改", "CHK_HALL_CHKITEM_CON_EDT", 600, 400));

                            @:bar.addItem({ line: true });
                        }

            
                      
              @if (Html.ChkAuth("CHK_HALL_CHKITEM_CON_DEL"))
              {
                  @:bar.addItem(@Html.AuthDelButton("CHK_HALL_CHKITEM_CON_DEL", Url.Action("Delete")));
            
              }
        });
    </script>
}
