@{
    ViewBag.Title = "添加个人考核考勤扣分设置";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using gzsw.web
@model gzsw.controller.CHK.Models.StaffAttendDeductConAddModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="formTable" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdLeft">组织结构：</td>
            <td>
                @Html.DropDownListFor(m => m.ORG_ID, ViewBag.Orgs as SelectList, "--请选择--")
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.ORG_ID)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">早退扣分：</td>
            <td>
                @Html.TextBoxFor(m => m.EAR_SCORE)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.EAR_SCORE)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">旷工扣分：</td>
            <td>
                @Html.TextBoxFor(m => m.NEG_SCORE)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.NEG_SCORE)
            </td>
        </tr>
        <tr>
            <td class="tdLeft">迟到扣分：</td>
            <td>
                @Html.TextBoxFor(m => m.LAT_SCORE)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.LAT_SCORE)
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <input id="btnSubmit" type="submit" class="l-button" value="提交" />
            </td>
        </tr>
    </table>
}

@section Head
{
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
}
