@using gzsw.web;
@using gzsw.model
@model gzsw.model.SYS_ROLE

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "增加角色";
    var orgall = TempData["ORGALL"] as List<SYS_ORGANIZE>;
}

@using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        <table class="formTable" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:100px;" class="tdLeft">
                    角色名称：
                </td>
                <td>
                    @Html.EditorFor(model => model.ROLE_NAM)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ROLE_NAM)
                </td>
            </tr>

            <tr>
                <td class="tdLeft">
                    组织机构：
                </td>
                <td>
                    <ul id="treeOrg" class="ztree"></ul>
                    <input type="hidden" value="" id="ORG_ID" name="ORG_ID" />
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ORG_ID)
                </td>
            </tr>

            <tr>
                <td class="tdLeft"> &nbsp;  </td>
                <td>
                    <input type="submit" class="l-button" value="提交" onclick="return getChecked()" /> 
                </td>
                <td> </td>
            </tr>
        </table>
}
@section Head{
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    @Html.JavaScript("lib/ztree/jquery.ztree.core-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.excheck-3.5.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.min.js")
    @Html.JavaScript("lib/jquery.validate/jquery.validate.unobtrusive.min.js")
    @Html.JavaScript("lib/jqueryform/jquery.form.js")
    @Html.JavaScript("lib/utility/ext.js")
    <script type="text/javascript">
        $(function () {
            InitAjaxForm();//异步提交
        });
    </script>

    <script type="text/javascript">
		<!--
		var zNodes;
		$(function () {
		    $.ajax({
		        async: false,
		        cache: false,
		        type: 'POST',
		        dataType: 'json',
		        url: "/AUTH/Role/RoleOrgTree",
		        success: function (data) {
		            zNodes = data;
		        }
		    });
		});

		$(document).ready(function(){
		    radioTree("#treeOrg", zNodes)
		});
		//-->
    </script>
    <script type="text/javascript">
        function getChecked() {
            var treeObj = $.fn.zTree.getZTreeObj("treeOrg"),
            nodes = treeObj.getCheckedNodes(true);
            for (var i = 0; i < nodes.length; i++) {
                $('#ORG_ID').val(nodes[i].id);
                break;
            }
            return true;
        }
    </script>
}