@using gzsw.web;
@model PetaPoco.Page<gzsw.model.SYS_ROLE>
@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="l-panel-search">
    <table class="tabSearchList">
        <tr>
            <td style="width:80px;">角色名称：</td>
            <td style="width:170px;"><input type="text" name="txtROLENAM" id="txtROLENAM" value="@ViewBag.ROLENAM" /></td>
            <td style="width:80px;"> 组织机构：</td>
            <td style="width:170px;">
                @Html.Partial("Partial/ORG2", new Dictionary<string, string> { { "ORGID", Request["orgid"] }, { "ORGNAM", Request["orgnam"] } })
            </td>
            <td>
                <div id="btnSearch"></div>
            </td>
        </tr>
    </table>
</div>
<div id="toptoolbar"></div>
<div class="tablePanel">
    <table class="tablelist" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:40px;"> <input id="chkAll" name="chkAll" type="checkbox" /></th>
                <th>序号</th>
                <th>角色名称</th>
                <th>组织机构</th>
                <th></th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><input name="cbId" type="checkbox" value="@item.ROLE_ID" /></td>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLE_NAM)
                </td>
                <td>
                    @(item.RoleORG == null ? "" : item.RoleORG.ORG_NAM)
                </td>
            </tr>
        }
    </table>
    @if (Model.Items.Count < 1)
    {
        <div class="l-panel-notDATA">
            暂无数据
        </div>
    }
    @Html.Pager("pageIndex", Model.ItemsPerPage, Model.TotalItems)
</div>
@section Head{
    @Html.StyleSheet("lib/ztree/zTreeStyle.css")
    @Html.JavaScript("lib/ztree/jquery.ztree.core-3.5.min.js")
    @Html.JavaScript("lib/ztree/jquery.ztree.excheck-3.5.min.js")
    @Html.JavaScript("lib/utility/ext.js?v1")
    <script lang="javascript">
    $(function () {
        // 注册事件
        // 查询
        $("#btnSearch").ligerButton(
        {
                text: " 查 询 ",
                click: function () {
                    var url = "?rolenam=" + $("#txtROLENAM").val()
                        + "&orgid=" + $("#hidORGID").val()
                        + "&orgnam=" + $("#txtORGNAM").val();
                    location.href = url.urlstamp();
                },
                icon: "@Html.Url("Content/lib/ligerUI/skins/icons/search.png")"
            });
            // 顶部导航
        var bar = $("#toptoolbar").ligerToolBar();
        bar.addItem(@Html.AuthViewButton("AUTH_ROLE_VIW", Url.Action("Details", "Role")));
        bar.addItem({ line: true });
        bar.addItem(@Html.AuthAddButton("AUTH_ROLE_ADD", Url.Action("Create", "Role"))); 
        bar.addItem({ line: true });
        bar.addItem(@Html.AuthEditButton("AUTH_ROLE_EDT", Url.Action("Edit", "Role"))); 
        bar.addItem({ line: true });
        bar.addItem(@Html.AuthViewButton("AUTH_ROLE_EDT", Url.Action("RoleFunc", "Role"), "权限")); 
        bar.addItem({ line: true });
        bar.addItem(@Html.AuthDelButton("AUTH_ROLE_DEL", Url.Action("Delete", "Role"))); 

    });
    </script>
}
