@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "错误";
}

@if (Model != null)
{
    gzsw.util.LogHelper.ErrorLog("HandleError", Model.Exception);
    <p>
        @Model.Exception.GetType().Name<br />
        Controller: @Model.ControllerName<br />
        Action: @Model.ActionName
</p>
    <p>Error Details:</p>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.StackTrace</p>
}
